.address-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  background-color: #1a1a2e; /* Dark background for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.address-card h3 {
  /* margin: 0 0 10px 0; */
  font-size: 0.8em;
}

.address-card p {
  margin: 0;
  font-size: 0.6em;
}

.address-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
  position: relative;
}

/* Media queries for responsiveness */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .address-card {
    max-width: 100%;
    margin: 5px;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .address-card {
    max-width: 45%;
    margin: 10px;
  }
}

/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .address-card {
    max-width: 30%;
    margin: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .address-card {
    max-width: 25%;
    margin: 10px;
  }
}